package main

templ index(url string) {
	<html>
		<head>
			<meta charset="UTF-8" />
   		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

			<title>Redirection</title>

			<link rel="stylesheet" href="/static/style.css" />
		</head>
		<body>
			<img src="/static/directions.svg" alt="" />
			<h1>Redirection</h1>
			<p>This content has moved to <a href={ templ.URL(url) }>{url}</a></p>
		</body>
	</html>
}